@media screen and (max-width: 500px) {
    #firstsection {
        text-align: center;
    }

    h1 {
        display: inline;
    }

    #text > p {
        width: 90%;
        margin: 25px auto;
        text-align: center;
    }

    #homeimg {
        text-align: center;
    }

    #homeimg > img {
        width: 80vw;
    }

    .homebutton {
        width: 80%;
        font-size: 7vw;
    }

    #secondsection > h1 {
        font-size: 10vw;
    }
    
    #secondsectioncontainer > img {
        width: 80%;
        margin: 50px auto;
    }    

    #secondsectioncontainer > p {
        width: 95%;
    }

    #thirdsection {
        padding: 25px;
        padding-top: 100px;
    }

    #thirdsection > h1 {
        font-size: 10vw;
    }

    #roadmapcontainer > p {
        font-size: 5vw;
    }

    #roadmapcontainer {
        margin-top: 25px;
    }

    
}

@media screen and (min-width: 501px) and (max-width: 1199px) {
    #firstsection {
        text-align: center;
    }

    h1 {
        display: inline;
    }


    #text > p {
        width: 90%;
        margin: 25px auto;
        text-align: center;
    }

    #homeimg {
        margin: 25px 0px;
    }

    .homebutton {
        width: 35%;
        font-size: 4.5vw;
    }
    
    #secondsection > h1 {
        font-size: 3em;
    }

    #secondsectioncontainer > img {
        width: 90%;
        margin: 50px auto;
    }
    
    #secondsectioncontainer > p {
        width: 90%;
    }

    #thirdsection {
        padding: 25px;
        padding-top: 100px;
    }

    #thirdsection > h1 {
        font-size: 3em;
    }

    #roadmapcontainer > p {
        font-size: 2em;
        margin-bottom: 10px;
    }

    #roadmapcontainer {
        margin-top: 25px;
    }
}

@media screen and (min-width: 1200px) {
    #firstsection {
        position: relative;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: #ffffffe6;
        word-break: break-word;
        backdrop-filter: blur(5px);
        box-shadow: 0px 5px 5px 0px #00000033, 0px 0px 0px 1px #f2f2f280 inset;
        padding: 25px;
        border-radius: 75px;
        margin: auto;
        margin-top: 25px;
        color: #556273;
        max-width: 1309px;
        height: 70vh;
    }

    h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 4.5em;
    }

    h2 {
        font-size: 1.6em;
        margin-bottom: 2%;
    }

    .homedescription{
        text-align: justify;
        margin-bottom: 2%;
        max-width: 293px;
    }

    #secondsection > h1 {
        font-size: 3em;
    }

    #secondsectioncontainer > img {
        width: 60%;
    }
    
    #secondsectioncontainer > p {
        width: 30%;
    }

    #thirdsection {
        padding: 25px;
        padding-top: 75px;
    }

    #roadmapcontainer > p {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .homebutton {
        width: 35%;
        font-size: 2em;
    }
}

main {
    padding: 0px;
}

#firstsection {
    position: relative;
    z-index: 2;
    background-color: #ffffffe6;
    word-break: break-word;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px 0px #00000033, 0px 0px 0px 1px #f2f2f280 inset;
    padding: 25px;
    border-radius: 75px;
    margin: auto;
    margin-top: 25px;
    color: #556273;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    margin-bottom: 2%;
}

.homedescription{
    text-align: justify;
    margin-bottom: 2%;
}

#buttoncontainer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right bottom, #f2f2f280, #f2f2f21a);
    backdrop-filter: blur(5px);
    padding: 25px;
    border-radius: 0px 0px 0px 0px;
    margin: auto;
    margin-top: -75px;
    padding-top: 75px;
    color: #556273;
    max-width: 1309px;
    text-align: center;
}

.homebutton {
    margin-top: 25px;
    padding: 25px;
    background-color: #ffffffe6;
    box-shadow: 0px 5px 5px 0px #00000033, 0px 0px 0px 1px #f2f2f280 inset;
    border-radius: 75px;
    color: #556273;
    font-weight: bolder;
}

.homebutton:hover {
    background-color: #556273;
    color: #ffffffe6;
}

#secondsection {
    position: relative;
    z-index: 2;
    background-color: #ffffffe6;
    backdrop-filter: blur(5px);
    padding: 25px;
    margin: auto;
    color: #556273;
    max-width: 1309px;
    text-align: center;
    border-radius: 0px 0px 75px 75px;
}

#secondsection > h1 {
    margin: 50px 0px;
    text-transform: uppercase;
}

#secondsectioncontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#thirdsection {
    position: relative;
    background-image: linear-gradient(to right bottom, #f2f2f280, #f2f2f21a);
    margin: auto;
    margin-top: -75px;
    z-index: 1;
    backdrop-filter: blur(5px);
    color: #556273;
    max-width: 1309px;
    text-align: center;
}

#thirdsection > h1 {
    margin: 50px 0px;
    text-transform: uppercase;
}

#roadmapcontainer {
    display: flex;
    flex-direction: column;
}

#roadmapcontainer > p {
    margin-bottom: 10px;
}

.roadmapleft {
    border-right: 5px solid #556273;
    width: 50%;
    align-self: flex-start;
    text-align: right;
    margin-left: -12.5px;
    padding: 5px;
}

.roadmapright {
    border-left: 5px solid #556273;
    width: 50%;
    align-self: flex-end;
    margin-right: -12.5px;
    padding: 5px;
    text-align: left;
}

#roadmapdone {
    text-decoration: line-through;
    border-color: #556273;
}