@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* collor 
#556273
#69788C
#8A99A6
#F2F2F2
#D9D9D9
*/

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url(https://pbs.twimg.com/media/E32d8xAXEAYMGyl?format=jpg&name=4096x4096);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f280;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px 0px #00000033;
    color: #556273;
}

.button {
    display: inline-block;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px 0px #00000033, 0px 0px 0px 1px #f2f2f280 inset;
    padding: 5px;
    margin: 0px 10px;
}

ul {
    list-style: none;
}

a {
    color: #556273;
    padding: 0px 1vw;
    font-weight: 700;
    font-size: 1.1em;
}

a:hover {
    color: #f2f2f2;
}

main {
    padding: 25px 50px;
}

#main-container {
    text-align: center;
    background-image: linear-gradient(to right bottom, #f2f2f280, #F2F2F21a);
    border-radius: 0px 0px 10px 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px 0px #00000033, 0px 0px 0px 1px #f2f2f280 inset;
    padding: 25px;
    max-width: 1309px;
    margin: auto;
}

#description-container {
    text-align: justify;
    background-color: #f2f2f2e6;
    border-radius: 10px 10px 0px 0px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px 0px #00000033, 0px 0px 0px 1px #f2f2f280 inset;
    padding: 25px;
    max-width: 1309px;
    margin: auto;
}

#description {
    color: #556273;
    margin: 10px;
}

.card-container {
    display: inline-block;
    vertical-align: top;
    background-image: linear-gradient(to right bottom, #f2f2f280, #f2f2f21a);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px 0px #00000033, 0px 0px 0px 1px #f2f2f280 inset;
    margin: 10px;
}


.card {
    display: block;
    max-width: 179px;
    margin: 5px;
}

.card-description {
    text-align: center;
    color: #556273;
    font-weight: 600;
    background-color: #f2f2f2;
    border-radius: 0px 0px 10px 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px 0px #00000033, 0px 0px 0px 1px #f2f2f280 inset;
    padding: 10px 5px;
    max-width: 179px;
    font-size: 0.9em;
}

#home {
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px 0px #00000033, 0px 0px 0px 1px #f2f2f280 inset;
    padding: 25px;
    max-width: 1309px;
    margin: auto;
    color: #556273;
    font-size: 1.5em;
}

#nakama {
    max-height: 65vh;
    max-width: 45vw;
}